{% extends 'plantillas/plantilla.html.twig' %}

{% block contenido %}

    <section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header">
                            <h3>Bienvenido a tu currículum <br> {{ app.user.nombre }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block no-padding">
            <div class="container">
                <div class="row no-gape justify-content-center">
                    <div class="col-lg-9 column">
                        <div class="padding-left">
                            <div class="profile-title">
                                <h3>Tu información personal</h3>
                                <div class="steps-sec">
                                    <div class="step active">
                                        <p><i class="la la-graduation-cap"></i></p>
                                        <span>Educación</span>
                                    </div>
                                    <div class="step">
                                        <p><i class="la la-file-text"></i></p>
                                        <span>Experiencia</span>
                                    </div>
                                    <div class="step">
                                        <p><i class="la  la-check-circle"></i></p>
                                        <span>Habilidades</span>
                                    </div>
                                    <div class="step">
                                        <p><i class="la  la-user"></i></p>
                                        <span>Información</span>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-form-edit">
                                <div id="educacion" class="" class="contact-edit">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span class="pf-title">Tipo</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Título" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Fecha inicio</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="mm/yyyy" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Fecha fin</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="mm/yyyy" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="pf-title">Centro</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Nombre del centro" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="pf-title">Rama</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Tipo de estudio" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="pf-title">Descripción</span>
                                                <div class="pf-field">
                                                    <textarea placeholder="Descripción breve del título..." ></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="submit">Next</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="esperiencia" class="contact-edit">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span class="pf-title">Oficio</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Oficio empleado" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="pf-title">Nombre de la empresa</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Nombre de la empresa" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Fecha inicio</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="mm/yyyy" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Fecha fin</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="mm/yyyy" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="pf-title">Descripción</span>
                                                <div class="pf-field">
                                                    <textarea placeholder="Descripción breve del trabajo realizado..." ></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="submit">Next</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="habilidades" class="contact-edit">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="pf-title">Nombre</span>
                                                <div class="pf-field">
                                                    <ul class="tags">
                                                        <li class="addedTag">Java<span onclick="$(this).parent().remove();" class="tagRemove">x</span><input type="hidden" name="tags[]" value="Web Deisgn"></li>
                                                        <li class="tagAdd taglist">
                                                            <input type="text" id="search-field">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Conocimiento</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Del 1 al 100 cuanto sabes" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="submit">Next</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="idioma" class="contact-edit">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="pf-title">Idioma</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Ingles" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Nivel</span>
                                                <div class="pf-field">
                                                    <select data-placeholder="Please Select Specialism" class="chosen">
                                                        <option>Alto</option>
                                                        <option>Medio</option>
                                                        <option>Bajo</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="submit">Next</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="informacion" class="contact-edit">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <span class="pf-title">Expectativas salariales</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="12000 - 18000" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Nivel carrera</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Ejecutivo" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Idioma</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Ingles" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Nivel</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Poner choice en formulario" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Industria</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Informática" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Experiencia</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Poner choice en formulario" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Calificación</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Ultimo titulo" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title">Especialidad</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Diseñador gráfico" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="pf-title">Información personal</span>
                                                <div class="pf-field">
                                                    <textarea placeholder="Soy alto con ojos azules, tu papito" ></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="submit">Next</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}