{% extends 'plantillas/login.html.twig' %}

{% block contenido %}

    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Sobre nosotros</h3>
                                <span>Manténgase al día con las últimas noticias</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about-us">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3>Acerca de HelloWork!</h3>
                                </div>
                                <div class="col-lg-7">
                                    <p>HelloWork! es un buscador de empleo moderno y sofisticado que hace las delicias tanto de empresarios como de personas desempleadas que buscan demostrar su valia en un puesto de trabajo. </p>
                                    <p>Miles de usuarios satisfechos han depositado su confiada en nosotros y le hemos devuelto esa confianza trabajando duro para actualizar y arreglar cualquier problema que surgiera en la web. Además de investigar nuevas formas para llevar el empleo a los hogares y con vistas a expandir el buscador por Europa. </p>
                                </div>
                                <div class="col-lg-5">
                                    <img src="{{ asset('images/apreton.jpg') }}" alt="Apretón de manos" />
                                </div>
                                <div class="col-lg-12">
                                    <p>También ofrecemos datos estadísticos en nuestra página principal relaccionados con el empleo y como conseguirlo de forma rápida y eficaz. Colaboramos con distintas páginas web que proponen tips para crear Curriculums Vitae de calidad, así como consejos para las entrevistas y otros datos de interes.  </p>
                                    <p>Si eres desempleado en España o una empresa que busca trabajadores este es tu sitio web. Próximamente, lanzaremos la aplicación móvil de HelloWork! para tener todo el contenido al alcance de la mano.</p>
                                    <p>"Elige un trabajo que te guste y no tendrás que trabajar ni un día de tu vida." - Confucio</p>
                                </div>
                            </div>
                            <div class="tags-share">
                                <div class="share-bar">
                                    <a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="" class="share-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="" class="share-google"><i class="la la-google"></i></a><span>Compartir</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}