{% extends 'plantillas/login.html.twig' %}

{% block contenido %}

    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Sobre nosotros</h3>
                                <span>Manténgase al día con las últimas noticias</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about-us">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3>Acerca de IntroJobs</h3>
                                </div>
                                <div class="col-lg-7">
                                    <p>Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered inset one echidna cassowary some parrot and much as goodness some froze the sullen much connected bat wonderfully on instantaneously eel valiantly petted this along across highhandedly much. </p>
                                    <p>Repeatedly dreamed alas opossum but dramatically despite expeditiously that jeepers loosely yikes that as or eel underneath kept and slept compactly far purred sure abidingly up above fitting to strident wiped set waywardly far the and pangolin horse approving paid chuckled cassowary oh above a much opposite far much hypnotically more therefore wasp less that hey apart well like while superbly orca and far hence one.Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy.</p>
                                </div>
                                <div class="col-lg-5">
                                    <img src="http://placehold.it/432x280" alt="" />
                                </div>
                                <div class="col-lg-12">
                                    <p>Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered inset one echidna cassowary some parrot and much as goodness some froze the sullen much connected bat wonderfully on instantaneously eel valiantly petted this along across highhandedly much. </p>
                                    <p>Repeatedly dreamed alas opossum but dramatically despite expeditiously that jeepers loosely yikes that as or eel underneath kept and slept compactly far purred sure abidingly up above fitting to strident wiped set waywardly far the and pangolin horse approving paid chuckled cassowary oh above a much opposite far much hypnotically more therefore wasp less that hey apart well like while superbly orca and far hence one.Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy.</p>
                                </div>
                            </div>
                            <div class="tags-share">
                                <div class="share-bar">
                                    <a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="" class="share-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="" class="share-google"><i class="la la-google"></i></a><span>Compartir</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block remove-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="our-services">
                            <div class="row">
                                <div class="col-lg-12"><h2>Nuestros servicios</h2></div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="service">
                                        <i class="la la-clock-o"></i><div class="service-info"><h3>Publicidad de un trabajo</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="service">
                                        <i class="la la-search"></i><div class="service-info"><h3>Búsqueda de CV</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="service">
                                        <i class="la la-user"></i><div class="service-info"><h3>Editor de perfiles</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="service">
                                        <i class="la la-codepen"></i><div class="service-info"><h3>Búsqueda personal</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="service">
                                        <i class="la la-tv"></i><div class="service-info"><h3>Mostrar trabajos</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="service">
                                        <i class="la la-diamond"></i><div class="service-info"><h3>Para agencias</h3><p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}